.material-alert {
  z-index: 999999999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.material-alert.material-aml-alert button {
  border-color: transparent !important;
}
.material-alert > div {
  display: table;
  width: 100%;
  height: 100%;
}
.material-alert > div > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.material-alert > div > div > div {
  margin: auto;
  padding: 20px;
  text-align: left;
  max-width: 80%;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 2px;
}
@media screen and (min-width: 250px) {
  .material-alert > div > div > div {
    min-width: 250px;
  }
}
.material-alert > div > div > div .material-alert-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.material-alert > div > div > div p {
  margin: 0;
}
.material-alert > div > div > div .material-alert-bottom {
  text-align: right;
}
.material-alert > div > div > div .material-alert-bottom .material-popup-error {
  display: inline;
  padding: 0 2px;
  opacity: 0;
  color: #db4437;
  transition: opacity 200ms ease-in-out;
}
.material-alert > div > div > div .material-alert-bottom button {
  text-transform: uppercase;
  background: transparent;
  border-radius: 2px;
  margin: 0;
  padding: 9px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.material-alert > div > div > div .material-alert-bottom button:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.material-alert > div > div > div .material-alert-bottom button .material-ink_e {
  background-color: rgba(3, 169, 244, 0.5) !important;
}
.material-alert > div > div > div .material-alert-bottom button.material-alert-confirm-fail .material-ink_e {
  background-color: rgba(189, 189, 189, 0.5) !important;
}
